In [2]:
# Basic syntax of for loop

# for variable in sequence:
    # code block (loop body)

In [4]:
# use of 'in'

list1 = [1,2,3,4,5,6,7,8,9]

print(5 in list1)
print(13 in list1)

True
False

In [8]:
student_name = ["shawon", "heron", "imran", "sifat", "rabbi"]

for name  in student_name:
    print(name.title())      # Ekahne title function sob string er first letter k capital kore dibe

Shawon
Heron
Imran
Sifat
Rabbi

In [13]:
student_name = ["shawon", "heron", "imran", "sifat", "rabbi", 5, True]

for name  in student_name:
    print(name) 
    print(name.title())      # Ekahne title function sob string er first letter k capital kore dibe

shawon
Shawon
heron
Heron
imran
Imran
sifat
Sifat
rabbi
Rabbi
5

AttributeError: 'int' object has no attribute 'title'

In [16]:
# range() function

# Syntax of Range Function

# range(start, stop, step)
# Ekhane start and step value optional. Stop value mandatory


range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
list(range(0,10,1))     # stop e joto gula value thakbe tar ag obdi print?count hobe

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# printing even number

list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
# printing even number

list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [34]:
for i in range(100,200,5):
    print(i)

100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195